<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlcxx.plodes.mapper.system.MenuMapper">
  <resultMap id="BaseResultMap" type="com.xlcxx.plodes.system.domian.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MENU_ID" jdbcType="BIGINT" property="menuId" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="PERMS" jdbcType="LONGVARCHAR" property="perms" />
  </resultMap>
</mapper>